.footer {
    background-color: #d46371;
    padding: 25px;
    height: 300px;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    color: white;
    gap: 10px;
}
.footer .wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.footer a {
    text-decoration: none;
    transition: 0.3s ease-in;
    color: white;
}
.footer a:hover {
    color: blue;
    font-size: 105%;
}
.footer .col {
    width: 300px;
    justify-content: center;
}

.footer hr {
    color: #ffffff;
    border: none;
    border-top: 2px solid #ffffff;
    overflow: visible;
    text-align: center;
    width: 85%;
}
#copypalace {
    width: 75%;
    justify-content: center;
    text-align: center;
}
.spaced-list li {
    margin-top: 10px;
}