.signlogbox {
    color: black;
    background-color: #e97154;
    border-radius: 25px;
    width: 400px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: 0.3s ease-out;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    justify-items: center;
}
.signlogbox:hover {
    transform: scale(1.01);
}
.signlogbox button {
    height: 50px;
}